/* FONTS: Myriad Pro regular */
@font-face { /* Normal */
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Regular'), url('myriad-pro/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face { /* Light */
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 200;
	src: local('Myriad Pro Light'), url('myriad-pro/MyriadPro-Light.woff') format('woff');
}
@font-face { /* Semibold */
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 600;
	src: local('Myriad Pro Semibold'), url('myriad-pro/MYRIADPRO-SEMIBOLD.woff') format('woff');
}
@font-face { /* Semibold Italic */
	font-family: 'Myriad Pro';
	font-style: italic;
	font-weight: 600;
	src: local('Myriad Pro Semibold Italic'), url('myriad-pro/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}
@font-face { /* Bold */
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Myriad Pro Bold'), url('myriad-pro/MYRIADPRO-BOLD.woff') format('woff');
}
@font-face { /* Bold Italic */
	font-family: 'Myriad Pro';
	font-style: italic;
	font-weight: 700;
	src: local('Myriad Pro Bold Italic'), url('myriad-pro/MYRIADPRO-BOLDIT.woff') format('woff');
}

/* Myriad Pro condensed */
@font-face { /* Normal */
	font-family: 'Myriad Pro Condensed';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Condensed'), url('myriad-pro/MYRIADPRO-COND.woff') format('woff');
}
@font-face { /* Italic */
	font-family: 'Myriad Pro Condensed';
	font-style: italic;
	font-weight: normal;
	src: local('Myriad Pro Condensed Italic'), url('myriad-pro/MYRIADPRO-CONDIT.woff') format('woff');
}
@font-face { /* Bold */
	font-family: 'Myriad Pro Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('Myriad Pro Bold Condensed'), url('myriad-pro/MYRIADPRO-BOLDCOND.woff') format('woff');
}
@font-face { /* Bold Italic */
	font-family: 'Myriad Pro Condensed';
	font-style: italic;
	font-weight: 700;
	src: local('Myriad Pro Bold Condensed Italic'), url('myriad-pro/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}

/* Page styles */
body {
	font-family: "Myriad Pro", sans-serif;
	font-size: 22px;
	font-weight: 600;
	padding: 0 1em 2em;
	color: #fff;
	background: #333; /* only used while WIP; to see white text of unstyled sections */
}

* { box-sizing: border-box; }

/* MyGov Ecosystem header */
header {
	background: #054c88;
	font-size: 2.5em;
	max-width: 17em;
	margin: auto;
	padding: 0.5em;
}
header h1 {
	display: grid;
	grid-template-columns: 1fr 1.3fr;
	column-gap: 0.5em;
	align-items: center;
}
header h1::before {
	content: url("https://www.mygov.in/sites/all/themes/mygov/front_assets/images/logo.svg");
	display: block;
	width: 5em;
	justify-self: right;
	padding-right: 0.5em;
	border-right: 1px solid #fff6;
}


/* General section */
.general {
	margin: 1em 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 1em;
	column-gap: 1.5em;
	justify-items: center;
}
.general div { width: 100%; }

/* APIs section */
#apis {
	grid-column: 1 / span 2;
	background: #de55a0;
	max-width: 27.5em;
	margin-bottom: 1em;
	padding: 0.5em 1.5em;
	border-radius: 1em 1em 0 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2em;
	position: relative;
}
#apis p { text-align: right; }
#apis ul { position: relative; }
#apis ul::before {
	content: url("images/arrows.svg");
	display: block;
	width: 1.2em; /* In a gap of 2em, leaves 0.4em on either side */
	position: absolute;
	top: 0;
	left: -1.6em; /* 1.2 + 0.4 */
}
#apis p:last-child {
	padding-top: 0.3em;
	grid-column: 1 / span 2;
	text-align: center;
}
/* The little banner triangles at the bottom/"back" */
#apis::before, #apis::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-color: #a9377e;
	border-style: solid;
	border-width: 0.5em 1.5em;
	border-bottom-color: transparent;
	top: 100%;
}
#apis::before {
	left: 0;
	border-left-color: transparent;
}
#apis::after {
	right: 0;
	border-right-color: transparent;
}

/* Members box */
#members {
	grid-column: 1 / span 2;
	background: #194e90;
	max-width: 27.5em;
	padding: 0.5em 1.5em;
	border-radius: 0 1.5em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1.5em;
	align-items: center;
	position: relative;
}
/* "MyGov Members" label */
#members p {
	width: 6.5em;
	justify-self: right;
	display: flex;
	align-items: center;
	text-align: right;
}
#members p::before {
	content: url("images/members.svg");
	width: 1.75em;
	padding-right: 0.5em;
	flex-shrink: 0;
}
#members p::after {
	content: "";
	display: block;
	border-right: 0.1em solid;
	height: 70%;
	position: absolute;
	left: 50%;
}
/* Number of members */
#members ul {
	font-size: 1.5em;
	font-weight: bold;
}

/* General: Doubles section */
#sso, #apps {
	max-width: 20em;
	padding: 0.5em 2em;
}

/* Single Sign On section */
#sso {
	background: #d0b601;
	border-radius: 0 1.5em;
	justify-self: right;
}
#sso p {
	justify-self: right;
	display: flex;
	align-items: center;
	text-align: right;
}
#sso p::before {
	content: url("images/sso.svg");
	width: 3em;
	padding-right: 1em;
	flex-shrink: 0;
}

/* Mobile Apps section */
#apps {
	background: #02ba94;
	border-radius: 1.5em 0;
	justify-self: left;
	display: flex;
	align-items: center;
}
#apps ul { flex-shrink: 0; position: relative; }
#apps ul::before {
	content: "";
	display: block;
	border-right: 1px solid;
	height: 100%;
	position: absolute;
	left: -0.5em;
}
#apps li { display: flex; align-items: center; }
#apps li::before {
	content: ">";
	font-size: 0.6em;
	padding-right: 0.5em;
}
#apps::after {
	content: url("images/apps.svg");
	width: 1.5em;
	padding-left: 0.5em;
	flex-shrink: 0;
}


/* TODO: Statistics sections */


/* Last updated paragraph */
main > p:last-child {
	font-weight: normal;
	color: #616161;
	font-size: 1em;
	text-align: center;
}


/* Size adjustments for smaller screens */
@media (max-width: 1000px) {
	body { font-size: 16px; }
}
@media (max-width: 700px) {
	body { font-size: 12px; }
}