/* FONTS: Myriad Pro regular */
@font-face { /* Normal */
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Regular'), url('myriad-pro/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face { /* Light */
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 200;
	src: local('Myriad Pro Light'), url('myriad-pro/MyriadPro-Light.woff') format('woff');
}
@font-face { /* Semibold */
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 600;
	src: local('Myriad Pro Semibold'), url('myriad-pro/MYRIADPRO-SEMIBOLD.woff') format('woff');
}
@font-face { /* Semibold Italic */
	font-family: 'Myriad Pro';
	font-style: italic;
	font-weight: 600;
	src: local('Myriad Pro Semibold Italic'), url('myriad-pro/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}
@font-face { /* Bold */
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Myriad Pro Bold'), url('myriad-pro/MYRIADPRO-BOLD.woff') format('woff');
}
@font-face { /* Bold Italic */
	font-family: 'Myriad Pro';
	font-style: italic;
	font-weight: 700;
	src: local('Myriad Pro Bold Italic'), url('myriad-pro/MYRIADPRO-BOLDIT.woff') format('woff');
}

/* Myriad Pro condensed */
@font-face { /* Normal */
	font-family: 'Myriad Pro Condensed';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Condensed'), url('myriad-pro/MYRIADPRO-COND.woff') format('woff');
}
@font-face { /* Italic */
	font-family: 'Myriad Pro Condensed';
	font-style: italic;
	font-weight: normal;
	src: local('Myriad Pro Condensed Italic'), url('myriad-pro/MYRIADPRO-CONDIT.woff') format('woff');
}
@font-face { /* Bold */
	font-family: 'Myriad Pro Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('Myriad Pro Bold Condensed'), url('myriad-pro/MYRIADPRO-BOLDCOND.woff') format('woff');
}
@font-face { /* Bold Italic */
	font-family: 'Myriad Pro Condensed';
	font-style: italic;
	font-weight: 700;
	src: local('Myriad Pro Bold Condensed Italic'), url('myriad-pro/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}

/* Page styles */
body {
	font-family: "Myriad Pro", sans-serif;
	font-size: 22px;
	font-weight: 600;
	padding: 0 1em 2em;
	color: #fff;
	background: #aaa; /* only used while WIP; to see white text of unstyled sections */
}

* { box-sizing: border-box; }

/* MyGov Ecosystem header */
header {
	background: #054c88;
	font-size: 2.5em;
	max-width: 17em;
	margin: auto;
	padding: 0.25em 0.5em;
}
header h1 {
	display: grid;
	grid-template-columns: 1fr 1.3fr;
	column-gap: 0.5em;
	align-items: center;
}
header h1::before {
	content: url("https://www.mygov.in/sites/all/themes/mygov/front_assets/images/logo.svg");
	display: block;
	width: 5em;
	justify-self: right;
	padding-right: 0.5em;
	border-right: 1px solid #fff6;
}


/* General section */
.general {
	margin: 1em 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 1em;
	column-gap: 1.5em;
	justify-items: center;
}
.general div { width: 100%; }

/* APIs section */
#apis {
	grid-column: 1 / span 2;
	background: #de55a0;
	max-width: 27.5em;
	margin-bottom: 1em;
	padding: 0.5em 1.5em;
	border-radius: 1em 1em 0 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2em;
	position: relative;
}
#apis p { text-align: right; }
#apis ul { position: relative; }
#apis ul::before {
	content: url("images/arrows.svg");
	display: block;
	width: 1.2em; /* In a gap of 2em, leaves 0.4em on either side */
	position: absolute;
	top: 0;
	left: -1.6em; /* 1.2 + 0.4 */
}
#apis p:last-child {
	padding-top: 0.3em;
	grid-column: 1 / span 2;
	text-align: center;
}
/* The little banner triangles at the bottom/"back" */
#apis::before, #apis::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-color: #a9377e;
	border-style: solid;
	border-width: 0.5em 1.5em;
	border-bottom-color: transparent;
	top: 100%;
}
#apis::before {
	left: 0;
	border-left-color: transparent;
}
#apis::after {
	right: 0;
	border-right-color: transparent;
}

/* Members box */
#members {
	grid-column: 1 / span 2;
	background: #194e90;
	max-width: 27.5em;
	padding: 0.5em 1.5em;
	border-radius: 0 1.5em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1.5em;
	align-items: center;
	position: relative;
}
/* "MyGov Members" label */
#members p {
	width: 6.5em;
	justify-self: right;
	display: flex;
	align-items: center;
	text-align: right;
}
#members p::before {
	content: url("images/members.svg");
	width: 1.75em;
	padding-right: 0.5em;
	flex-shrink: 0;
}
#members p::after {
	content: "";
	display: block;
	border-right: 0.1em solid;
	height: 70%;
	position: absolute;
	left: 50%;
}
/* Number of members */
#members ul {
	font-size: 1.5em;
	font-weight: bold;
}

/* General: Doubles section */
#sso, #apps {
	max-width: 20em;
	padding: 0.5em 2em;
}

/* Single Sign On section */
#sso {
	background: #d0b601;
	border-radius: 0 1.5em;
	justify-self: right;
}
#sso p {
	justify-self: right;
	display: flex;
	align-items: center;
	text-align: right;
}
#sso p::before {
	content: url("images/sso.svg");
	width: 3em;
	padding-right: 1em;
	flex-shrink: 0;
}

/* Mobile Apps section */
#apps {
	background: #02ba94;
	border-radius: 1.5em 0;
	justify-self: left;
	display: flex;
	align-items: center;
}
#apps ul { flex-shrink: 0; position: relative; }
#apps ul::before {
	content: "";
	display: block;
	border-right: 1px solid;
	height: 100%;
	position: absolute;
	left: -0.5em;
}
#apps li { display: flex; align-items: center; }
#apps li::before {
	content: ">";
	font-size: 0.6em;
	padding-right: 0.5em;
}
#apps::after {
	content: url("images/apps.svg");
	width: 1.5em;
	padding-left: 0.5em;
	flex-shrink: 0;
}


/* Statistics sections */
.stats {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 1.5em;
	justify-items: center;
}
.stats section {
	margin: 0.5em 0;
	width: 100%;
}
.stats h2 {
	font-size: 1.3em;
	text-align: center;
	padding: 0.25em 1em;
}

/* Solid-header statBlocks */
.solid h2 {
	background: rgb(var(--section-bg), 100%);
	text-transform: uppercase;
	border-radius: 1em;
}
.solid ul {
	margin: 0.5em 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	column-gap: 0.5em;
	row-gap: 0.5em;
	justify-items: center;
}
.solid li {
	background-color: rgba(var(--section-bg), 0.3);
	color: rgb(var(--section-text));
	font-size: 0.9em;
	border: 2px solid rgba(var(--section-bg), 0.75);
	border-radius: 5em;
	padding: 0 1em;
	width: 100%;
	min-height: 4em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1.5em;
	align-items: center;
	position: relative;
	line-height: 1;
}
.solid li img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	max-height: 2.5em;
	max-width: 100%;
	justify-self: center;
}
.solid li small { font-size: 0.7em; }
.solid li::after {
	content: "";
	border-right: 0.1em solid rgba(var(--section-text), 0.5);
	height: 85%;
	position: absolute;
	left: 50%;
}

/* RGB colors for background/text of solid-header statBlocks */
#engagement {
	--section-bg: 31, 132, 220;
	--section-text: 5, 76, 136;
}
#dissemination {
	--section-bg: 130, 180, 31;
	--section-text: 20, 139, 0;
}
#archives {
	--section-bg: 194, 84, 147;
	--section-text: 145, 54, 104;
	width: 85%;
}

/* Consistent styling for headers of bar-type statBlocks */
.bar { padding-top: 0.25em;}
.bar h2 {
	color: var(--color);
	background: white;
	padding: 0.25em 0.5em;
	margin: auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	position: relative;
	top: -1em;
}
.bar::before {
	content: "";
	background: var(--color);
	display: block;
	width: 100%;
	height: 0.25em;
}

/* Activities section */
#activities {
	--color: #725c29;
	--bubble-size: 7em;
}
#activities ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--bubble-size), 1fr));
	column-gap: 0.5em;
	row-gap: 0.5em;
	justify-items: center;
	grid-gap: 1
}
#activities li, #activities li p {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#activities li {
	font-weight: normal;
	width: var(--bubble-size);
	height: var(--bubble-size);
	border-radius: 100%;
}
#activities li strong {
	font-weight: bold;
	font-size: 1.3em;
}
#activities li img {
	--size: 2em;
	width: 100%;
	height: 100%;
	max-width: var(--size);
	max-height: var(--size);
	margin-bottom: 0.25em;
}

/* MyGov Social section */
#social { --color: #ee5747; }

/* MyGov SaaS section */
#saas { --color: #bf8b00; }

/* Spanning SaaS and Archives sections across full page width */
#saas, #archives { grid-column: 1 / span 2; }


/* Last updated paragraph */
main > p:last-child {
	font-weight: normal;
	color: #616161;
	font-size: 1em;
	text-align: center;
	margin: 1em;
}


/* Size adjustments for smaller screens */
@media (max-width: 1000px) {
	body { font-size: 16px; }
}
@media (max-width: 700px) {
	body { font-size: 12px; }
}